<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

<script type="text/javascript">
    function inhabilitar() {
        var respuesta = confirm("¿Estas seguro que deseas HABILITAR la cooperativa?");
        if (respuesta == true) {
            return true;
        }
        else {
            return false;
        }
    }
    function habilitar() {
        var respuesta = confirm("¿Estas seguro que deseas INHABILITAR la cooperativa?");
        if (respuesta == true) {
            return true;
        }
        else {
            return false;
        }
    }
</script>
<nav id="menu" class=" intro navbar navbar-fixed-top">
    <div id="contact" class="text-center" style=" background-color: rgba(59, 59, 59, 0.651);">
        <div class="section-title text-center">
            <h1>Registro de Cooperativa </h1>
            <h2>Track Hub al servicio </h2>
            <hr>
        </div>
        <div class="col-md-10 col-md-offset-1">
            {{#each errors}}
            <div class="alert alert-danger">{{text}}</div>
            {{/each}}
            <form action="/guardarCooperativa/add" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="text" name="nombre" class="form-control" placeholder="Ingrese Nombre Cooperativa ">
                </div>
                <div class="form-group">
                    <textarea name="direccion" class="form-control"
                        placeholder="Ingrese direccion Cooperativa "></textarea>
                </div>
                <div class="input-group mb-3">
                    <div class="custom-file">
                        <input type="file" name="image" class="custom-file-input" id="inputGroupFile01">
                        <label for="inputGroupFile01" class="custom-file-label"> Seleccionar
                            Logo</label>
                    </div>
                </div>
                <button class="btn tbn-primary" style="background-color: #3092d3; / * * Verde /
border: none;
color: blanco;
padding: 1px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;"> Guardar</button>
            </form>
            <col-md-8>
                <table class="table table-striped table-bordered table-hover table-dark">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Direccion</th>
                            <th>Operaciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each cooperativas}}
                        <tr>
                            <td>{{nombre}}</td>
                            <td>{{direccion}}</td>
                            <td>
                                {{#if estado}}
                                <a href="/enabledCooperativa/{{_id}}" class="btn btn-success"
                                    onclick="return habilitar()">
                                    Inhabilitar
                                </a>
                                {{else}}
                                <a href="/enabledCooperativa/{{_id}}" class="btn btn-secondary"
                                    onclick="return inhabilitar()">
                                    Habilitar
                                </a>
                                {{/if}}
                                <a href="/cooperativaEdit/{{_id}}" class="btn btn-info">Editar</a>
                                <a href="{{imageURL}}" target="_black" class="btn btn-info">Vista</a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </col-md-8>
        </div>
    </div>
</nav>

<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>