<html style="font-size: 16px;">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="keywords" content="Bienvenido ">
  <meta name="description" content="">
  <meta name="page_type" content="np-template-header-footer-from-plugin">
  <title>Configuracion Cuenta</title>
  <link rel="stylesheet" href="/estilosUsuario/estilos.css" media="screen">
  <link rel="stylesheet" href="/estilosUsuario/ConfiguracionU.css" media="screen">
  <script class="u-script" type="text/javascript" src="/estilosUsuario/jquery.js" defer=""></script>
  <script class="u-script" type="text/javascript" src="/estilosUsuario/JavaScript.js" defer=""></script>

  <link id="u-theme-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">



  <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"url": "index.html",
		"logo": "/estilosUsuario/images/logo5.png"
}</script>
  <meta property="og:title" content="Página 2">
  <meta property="og:type" content="website">
  <meta name="theme-color" content="#478ac9">
  <link rel="canonical" href="index.html">
  <meta property="og:url" content="index.html">
</head>

<body class="u-body">
  <header class="u-clearfix u-header u-header" id="sec-5ba5">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <a href="" class="u-image u-logo u-image-1" data-image-width="1080" data-image-height="1080">
        <img src="/estilosUsuario/images/logo5.png" class="u-logo-image u-logo-image-1" data-image-width="75">
      </a>
      <nav class="u-align-left u-menu u-menu-dropdown u-nav-spacing-25 u-offcanvas u-menu-1" data-responsive-from="XL">
        <div class="menu-collapse">
          <a class="u-button-style u-nav-link" href="#" style="padding: 4px 0px; font-size: calc(1em + 8px);">


          </a>
        </div>

      </nav>
    </div>
  </header>
  <section class="u-align-center u-clearfix u-section-1" id="sec-4b9c">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div alt="" class="u-image u-image-circle u-image-1" data-image-width="722" data-image-height="752"></div>
      <h2 class="u-text u-text-1">Bienvenido {{usu.nombre}} {{usu.apellido}} </h2>
      <p class="u-text u-text-2">Verifica tus datos.</p>
    </div>
  </section>
  <section class="u-align-center u-clearfix u-section-2" id="carousel_488c">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-expanded-width u-tab-links-align-justify u-tabs u-tabs-1">
        <ul class="u-tab-list u-unstyled" role="tablist">
          <li class="u-tab-item" role="presentation">
            <a class="active u-active-white u-border-6 u-border-active-palette-1-base u-border-grey-15 u-border-hover-grey-15 u-border-no-bottom u-border-no-left u-border-no-right u-button-style u-grey-10 u-hover-grey-10 u-tab-link u-tab-link-1"
              id="link-tab-0da5" href="#tab-0da5" role="tab" aria-controls="tab-0da5" aria-selected="true">Información
              personal</a>
          </li>

        </ul>
        <div class="u-tab-content">
          <div class="u-container-style u-tab-active u-tab-pane u-white u-tab-pane-1" id="tab-0da5" role="tabpanel"
            aria-labelledby="link-tab-0da5">
            <div class="u-container-layout u-container-layout-1">
              <h5 class="u-text u-text-1">{{usu.nombre}} {{usu.apellido}}</h5>
              <p class="u-text u-text-2">Gestiona tu informacion.</p>
              <div class="u-table u-table-responsive u-table-1">
                
                <table class="u-table-entity">
                  <colgroup>
                    <col width="50%">
                    <col width="50%">
                  </colgroup>
                  <tbody class="u-table-body">
                    <tr style="height: 52px;">
                      <td
                        class="u-border-2 u-border-grey-10 u-border-no-left u-border-no-right u-table-cell u-table-cell-1">
                        Nombre:</td>
                      <td class="u-border-2 u-border-grey-10 u-border-no-left u-border-no-right u-table-cell">{{usu.nombre}}
                      </td>
                    </tr>
                    <tr style="height: 53px;">
                      <td
                        class="u-border-2 u-border-grey-10 u-border-no-left u-border-no-right u-table-cell u-table-cell-3">
                        ApELLIDO:</td>
                      <td class="u-border-2 u-border-grey-10 u-border-no-left u-border-no-right u-table-cell">{{usu.apellido}}
                      </td>
                    </tr>
                    <tr style="height: 53px;">
                      <td
                        class="u-border-2 u-border-grey-10 u-border-no-left u-border-no-right u-table-cell u-table-cell-5">
                        cedula:</td>
                      <td class="u-border-2 u-border-grey-10 u-border-no-left u-border-no-right u-table-cell">{{usu.cedula}}
                      </td>
                    </tr>
                    <tr style="height: 73px;">
                      <td
                        class="u-border-2 u-border-grey-10 u-border-no-left u-border-no-right u-table-cell u-table-cell-9">
                        Correo:</td>
                      <td class="u-border-2 u-border-grey-10 u-border-no-left u-border-no-right u-table-cell">{{usu.correo}}
                        </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-19c4">
    <div class="u-clearfix u-sheet u-sheet-1">
      <p class="u-small-text u-text u-text-variant u-text-1">.</p>
    </div>
  </footer>

 
  <style>
    .u-section-5 {
      min-height: 923px;
    }

    .u-section-5 .u-dialog-1 {
      width: 586px;
      min-height: 316px;
      margin: 252px calc(((100% - 1140px) / 2) + 262px) 60px auto;
    }

    .u-section-5 .u-container-layout-1 {
      padding: 11px 30px 2px;
    }

    .u-section-5 .u-text-1 {
      font-size: 1.25rem;
      margin: 6px 191px 0 15px;
    }

    .u-section-5 .u-form-1 {
      height: 250px;
      width: 519px;
      margin: 4px auto 0;
    }

    .u-section-5 .u-form-group-2 {
      margin-left: 0;
    }

    .u-section-5 .u-form-group-3 {
      margin-left: 0;
    }

    .u-section-5 .u-btn-1 {
      background-image: none;
      border-style: none;
    }

    .u-section-5 .u-icon-1 {
      width: 15px;
      height: 15px;
      left: auto;
      top: 15px;
      position: absolute;
      right: 15px;
    }

    @media (max-width: 1199px) {
      .u-section-5 .u-dialog-1 {
        margin-right: calc(((100% - 940px) / 2) + 262px);
        height: auto;
      }

      .u-section-5 .u-text-1 {
        margin-right: 191px;
      }

      .u-section-5 .u-form-1 {
        width: 650px;
      }
    }

    @media (max-width: 991px) {
      .u-section-5 .u-dialog-1 {
        margin-top: 60px;
        margin-right: calc(((100% - 720px) / 2) + 134px);
      }
    }

    @media (max-width: 767px) {
      .u-section-5 .u-dialog-1 {
        width: 540px;
        margin-right: calc(((100% - 540px) / 2));
      }

      .u-section-5 .u-container-layout-1 {
        padding-top: 45px;
      }

      .u-section-5 .u-text-1 {
        margin-right: 188px;
        margin-left: 24px;
      }

      .u-section-5 .u-form-1 {
        width: 520px;
      }
    }

    @media (max-width: 575px) {
      .u-section-5 .u-dialog-1 {
        width: 340px;
        margin-right: calc(((100% - 340px) / 2));
      }

      .u-section-5 .u-container-layout-1 {
        padding-left: 20px;
        padding-right: 20px;
      }

      .u-section-5 .u-text-1 {
        margin-right: 0;
        margin-left: 15px;
      }

      .u-section-5 .u-form-1 {
        width: 320px;
      }
    }
  </style>
</body>

</html>