<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<!-- estilos frecuencias-->

<link rel="stylesheet" href="/estilosfrecuencia/page.css" media="screen">

<script class="u-script" type="text/javascript" src="/estilosfrecuencia/jquery.js" defer=""></script>


<link id="u-theme-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
<link id="u-page-google-font" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i">

<script type="text/javascript">
    function inhabilitar() {
        var respuesta = confirm("¿Estas seguro que deseas HABILITAR la cooperativa?");
        if (respuesta == true) {
            return true;
        }
        else {
            return false;
        }
    }
    function habilitar() {
        var respuesta = confirm("¿Estas seguro que deseas INHABILITAR la cooperativa?");
        if (respuesta == true) {
            return true;
        }
        else {
            return false;
        }
    }
</script>

<section class="u-clearfix u-grey-5 u-section-1" id="carousel_b652">
    <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-xl u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="" style="max-width: 500px; ">
                        <div class="u-layout-row">
                            <div class="u-container-style u-layout-cell u-left-cell u-size-60 u-layout-cell-1">
                                <div class="container">
                                    <div class="row align-items-center">
                                        <img src="/estilosfrecuencia/images/54e3dd474f5ab108f5d084609629317e113fdce15b4c704f75277cd2954acd5d_1280.jpg"
                                            alt="" class="u-image u-image-default u-image-1"
                                            style="margin-top: 50px; height: 500px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="u-size-30">
                        <div class="u-layout-col">
                            <div class="u-container-style u-layout-cell u-right-cell u-size-60 u-layout-cell-2"
                                style="margin-left: 60px;">
                                <div class="u-container-layout u-container-layout-2" style="margin-bottom: 50px">
                                    <h3 class="u-text u-text-1" style="margin-top: 50px;">REGISTRO FRECUENCIA</h3>
                                    <p class="u-text u-text-2">Recuerde no debe existir varias frecuencias con el mismo
                                        origen y el mismo destino</p>
                                    <div class="">
                                        {{#each error}}
                                        <div class="alert alert-danger">{{text}}</div>
                                        {{/each}}

                                        <form action="/guardarfrecuencia/add" method="POST"
                                            class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form"
                                            style="padding: 0;" enctype="multipart/form-data">
                                            <div class="u-form-group u-form-name">
                                                <label class="u-label">Origen</label>
                                                <input type="text" name="origen"
                                                    class="u-border-1 u-border-grey-30 u-input u-input-rectangle">
                                            </div>
                                            <div class="u-form-group">
                                                <label class="u-label">Destino</label>
                                                <input type="text" name="destino"
                                                    class="u-border-1 u-border-grey-30 u-input u-input-rectangle">
                                            </div>
                                            <div class="u-form-group u-form-group-3">
                                                <label class="u-label">Valor de la Frecuencia</label>
                                                <input type="text" name="valor_frec"
                                                    class="u-border-1 u-border-grey-30 u-input u-input-rectangle">
                                            </div>
                                            <div class="u-form-group u-form-group-3">
                                                <label class="u-label">Duracion frecuencia</label>
                                                <input type="Number" name="duracion"
                                                    class="u-border-1 u-border-grey-30 u-input u-input-rectangle">
                                            </div>
                                            <div class="u-form-group u-form-group-3">
                                                <label class="u-label">Duracion frecuencia</label>
                                                <a href="/frecuencia/rutas/{{_id}}" class="btn btn-info"
                                                    data-bs-toggle="modal" data-bs-target="#staticBackdrop">Rutas</a>
                                            </div>


                                            <button class="btn tbn-primary" style="background-color: #FF5733; / * * Verde /
border: none;
color: blanco;
padding: 1px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;"> Guardar</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<container>
    <h3 class="u-text u-text-1 text-center" style="margin-top: 50px;">TABLA DE FRECUENCIA</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Origen</th>
                <th scope="col">Destino</th>
                <th scope="col">Precio</th>
                <th scope="col">Duracion</th>
                <th scope="col">Rutas</th>
                <th scope="col">Modificar</th>
                <th scope="col">Rutas</th>
            </tr>
        </thead>
        <tbody>
            {{#each Frecuencias}}
            <tr>
                <td>{{origen}}</td>
                <td>{{destino}}</td>
                <td>{{valor_frec}}</td>
                <td>{{duracion}}</td>
                <td>
                    {{#if estado_frec}}
                    <a href="/enableFrecuencia/{{_id}}" class="btn btn-success" onclick="return habilitar()">
                        Habilitado
                    </a>
                    {{else}}
                    <a href="/enableFrecuencia/{{_id}}" class="btn btn-secondary" onclick="return inhabilitar()">
                        Inhabilitado
                    </a>
                    {{/if}}

                </td>
                <td><a href="/frecuenciaEdit/{{_id}}" class="btn btn-info">Editar</a></td>
                <td><a href="/frecuencia/rutas/{{_id}}" class="btn btn-info" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">Rutas</a></td>

            </tr>
            {{/each}}
        </tbody>
    </table>
</container>

<div class="modal" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Rutas registradas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    {{#each Rutas}}
                    <a class="btn btn-secondary">
                        {{origen}}-{{destino}}
                    </a>
                    {{/each}}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
    </div>
</div>