<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<nav id="menu" class=" intro navbar navbar-fixed-top">
    <div id="contact" class="" style=" background-color: #0000006c;">
        <div class="section-title text-center">
            <h1>Editar de Turnos </h1>
            <hr>
        </div>
        <div class="col-md-10 col-md-offset-1">
            {{#each err}}
            <div class="alert alert-danger">{{text}}</div>
            {{/each}}
            <form action="/TurnoEdit/{{tur._id}}" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label style="color: white;">Hora</label>
                    <input type="Number" name="hora" class="form-control" value="{{tur.hora}}">
                </div>
                <div class="form-group">
                    <label style="color: white;">Minutos</label>
                    <input type="Number" name="minuto" class="form-control" value="{{tur.minuto}}">
                </div>
                <!--LOCALIZACION DE LOS MODALES-->
                <div class="form-group">
                    <div class="u-form-group u-form-group-3" style="margin-bottom: 10px;">
                        <label class="u-label">Asignar Frecuencia:</label>

                        <a href="" class="btn btn-secondary" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop">Asignar</a>
                    </div>

                    <!--  -->
                    <div class="u-form-group u-form-group-3" style="margin-bottom: 10px;">
                        <label class="u-label">Asignar Unidad:</label>

                        <a href="" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#static">Asignar</a>
                    </div>
                    <button class="btn tbn-primary" style="background-color: #aa6e13; / * * Verde /
border: none;
color: blanco;
padding: 1px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;"> Guardar</button>
            </form>
            </col-md-8>
        </div>
    </div>
</nav>
<div class="modal" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Lista de Frecuencias (Origen / Destino)</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{#each Frecuencia}}
                <form>

                    <a href="/Turno/frecuencias/{{_id}}" class="btn btn-secondary"
                        style="margin-bottom: 10px; font-size: 16px;">
                        {{origen}} / {{destino}}
                    </a>

                </form>
                {{/each}}
            </div>

        </div>
    </div>
</div>
<div class="modal" id="static" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Lista de Unidades (Placa / Chofer)</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{#each Unidad}}
                <form>

                    <a href="/Turno/unidades/{{_id}}" class="btn btn-secondary"
                        style="margin-bottom: 10px; font-size: 16px;">
                        {{placa}} / {{correoChofer}}
                    </a>

                </form>
                {{/each}}
            </div>
        </div>
    </div>
</div>