<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<nav id="menu" class=" intro navbar navbar-fixed-top">
    <div id="contact" class="" style=" background-color: #0000006c;">
        <div class="section-title text-center">
            <h1>Editar de Turnos </h1>
            <hr>
        </div>
        <div class="col-md-10 col-md-offset-1">
            {{#each err}}
            <div class="alert alert-danger">{{text}}</div>
            {{/each}}
            <form action="/TurnoEdit/{{tur._id}}" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label style="color: white;">Hora</label>
                    <input type="Number" name="hora" class="form-control" value="{{tur.hora}}">
                </div>
                <div class="form-group">
                    <label style="color: white;">Minutos</label>
                    <input type="Number" name="minuto" class="form-control" value="{{tur.minuto}}">
                </div>
                <!--LOCALIZACION DE LOS MODALES-->
                <div class="form-group">
                    <label style="color: white;">Seleccionar
                        Frecuencia </label>
                    <div class="mb-3">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Elegir Frecuencia
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                {{#each Frecuencia}}
                                <li><a class="dropdown-item" href="#">{{origen}} - {{destino}}</a></li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                    <!-- Modal--->
                    <!-- Button trigger modal -->
                    <label style="color: white;">Seleccionar
                        Unidad </label>
                    <div class="mb-3">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Elegir Unidad
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                {{#each unidad}}
                                <li><a class="dropdown-item" href="#">Placa: {{placa}} Chofer:
                                        {{correoChofer}}</a></li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                    <button class="btn tbn-primary" style="background-color: #aa6e13; / * * Verde /
border: none;
color: blanco;
padding: 1px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;"> Guardar</button>
            </form>
            </col-md-8>
        </div>
    </div>
</nav>