<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>page</title>
    <link href="/estilosTurno/css/styles.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet"
        crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"
        crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<!--Controlo de Ingreso de datos(Habilitar-Inhabilitar)-->
<script type="text/javascript">
    function inhabilitar() {
        var respuesta = confirm("¿Estas seguro que deseas HABILITAR la cooperativa?");
        if (respuesta == true) {
            return true;
        }
        else {
            return false;
        }
    }
    function habilitar() {
        var respuesta = confirm("¿Estas seguro que deseas INHABILITAR la cooperativa?");
        if (respuesta == true) {
            return true;
        }
        else {
            return false;
        }
    }
</script>
<script>
    const aux = selectElement.addEventListener('change', (event) => {
    const resultado = document.querySelector('.resultado');
    resultado.textContent = `Te gusta el sabor ${event.target.value}`;
  });
</script>
<!---LOCALIZACION DEL FORMULARIO-->
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Administracion de turnos</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active ">Seccion Registro</li>
        </ol>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <div class="card-header">
                            <h3 class="text-center font-weight-light my-4">Registrar Turno</h3>
                        </div>
                        <div class="card-body">
                            {{#each err}}
                            <div class="alert alert-danger">{{text}}</div>
                            {{/each}}
                            <form action="/guardarTurno/add" method="POST" enctype="multipart/form-data" class=""
                                style="" source="custom" name="form">
                                <div class="mb-3">
                                    <label class="">Hora</label>
                                    <input type="Number" name="hora" class="">
                                </div>
                                <div class="mb-3">
                                    <label class="u-label">Minuto</label>
                                    <input type="Number" name="minuto">
                                </div>

                                <div class="u-form-group u-form-group-3">
                                                <label class="u-label">Asignar Frecuencia:</label>
                                                </br>
                                                <a href="" class="btn btn-info"
                                                    data-bs-toggle="modal" data-bs-target="#staticBackdrop">Asignar</a>
                                            </div>

                                <!--  -->
                                <div class="u-form-group u-form-group-3">
                                                <label class="u-label">Asignar Unidad:</label>
                                                </br>
                                                <a href="" class="btn btn-info"
                                                    data-bs-toggle="modal" data-bs-target="#static">Asignar</a>
                                            </div>
                                <button class="btn tbn-primary" style="background-color: #c76414; / * * Verde /
border: none;
color: blanco;
padding: 1px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;"> Guardar</button>
                            </form>
                        </div>
                        <div class="card-footer text-center">

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>

<!--Localizacion de la tabla de Turnos-->
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid">
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Registro</li>
            </ol>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table mr-1"></i>
                    Lista de Turnos
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Frecuencia</th>
                                    <th>Hora</th>
                                    <th>Unidad</th>
                                    <th>Turnos</th>
                                    <th>Modificar</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each Turnos}}
                                <tr>
                                    <td>Loja-Cuenca</td>
                                    <td>{{hora}}:{{minuto}}</td>
                                    <td>Hino Mavesa GD</td>
                                    <td>
                                        {{#if estado}}
                                        <a href="/enabledTurno/{{_id}}" class="btn btn-success"
                                            onclick="return habilitar()">
                                            Habilitado
                                        </a>
                                        {{else}}
                                        <a href="/enabledTurno/{{_id}}" class="btn btn-secondary"
                                            onclick="return inhabilitar()">
                                            Inhabilitado
                                        </a>
                                        {{/if}}
                                    </td>
                                    <td><a href="/TurnoEdit/{{_id}}" class="btn btn-info">Editar</a></td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    crossorigin="anonymous"></script>
<script src="/estilosTurno/js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="/estilosTurno/assets/demo/chart-area-demo.js"></script>
<script src="/estilosTurno/assets/demo/chart-bar-demo.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
<script src="/estilosTurno/assets/demo/datatables-demo.js"></script>